@media (max-width: 1600px) {
  .bg_span {
    margin-top: 100px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .nav_left {
    gap: 60px;
  }

  .nav_input {
    width: 240px;
    padding: 8px 10px;
  }
  .bg_text {
    margin: 30px 0;
  }

  .nav {
    padding: 0;
  }

  .header_bg {
    height: 700px;
    object-fit: cover;
  }

  .trailer_video {
    height: auto;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .list {
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    height: 100dvh;
    width: 50%;
    background: black;
    z-index: 11;
    right: -100%;
    transition: 0.5s;
  }

  .nav_btn {
    display: block;
  }

  .list.active {
    right: 0;
  }

  .trailer_description {
    max-width: 500px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .bg_title {
    font: 600 clamp(20px, 5vw, 75px) / 50px Montserrat;
    max-width: 435px;
  }

  .trailer_content {
    position: relative;
    padding: 0;
  }

  .trailer_left {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .trailer_description {
    position: relative;
    padding: 20px;
    max-width: 530px;
  }

  .trailer_description-text {
    margin-bottom: 30px;
  }

  .trailer_video {
    height: 100%;
  }

  .video_bg {
    background: rgba(0, 0, 0, 0.751);
  }

  .upcoming_card-btns {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .nav_input {
    width: 170px;
  }

  .nav_input::placeholder {
    font-size: 14px;
  }

  .nav_right {
    gap: 20px;
  }

  .list {
    width: 100%;
    background: #000000f5;
  }

  .nav_bg.active {
    display: none;
  }

  .trailer_description-span {
    margin: 9px 0 20px;
  }

  .trailer_description-title {
    font: 700 clamp(24px, 4vw, 55px) / 45px Montserrat;
  }

  .upcoming_cards {
    flex-direction: column;
    gap: 40px;
  }

  .upcoming_card-btns {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .nav_logo img {
    width: 60px;
  }

  .nav_input {
    width: 120px;
  }

  .nav_right {
    gap: 15px;
  }

  .bg_title {
    font: 600 clamp(20px, 5vw, 75px) / 40px Montserrat;
    max-width: 255px;
  }

  .bg_span-content {
    gap: 10px;
  }

  .bg_btn {
    padding: 10px 15px;
  }

  .trailer_video,
  .video_bg {
    border-radius: 0;
  }

  .trailer,
  .upcoming {
    padding: 50px 0;
  }

  .footer_cards {
    gap: 35px;
  }

  .footer_card {
    width: 40%;
  }

  .footer_card-icons {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .nav_crown {
    display: none;
  }
  .bg_block {
    align-items: flex-start;
    flex-direction: column;
  }

  .trailer_description-title {
    font: 700 clamp(24px, 4vw, 55px) / 30px Montserrat;
  }

  .footer {
    padding: 50px 0;
  }

  .footer_card {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .nav_logo img {
    width: 40px;
  }

  .nav_input {
    width: 100px;
    padding: 0 10px;
    height: 30px;
  }

  .nav_input::placeholder {
    font-size: 11px;
  }

  .bg_btns {
    gap: 15px;
    align-items: flex-start;
    flex-direction: column;
  }

  .trailer_description-text {
    margin-bottom: 15px;
  }

  .upcoming_card-btns {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
}
